nav {
  height: 10vh;
  background-color: transparent;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

.logo {
  position: absolute;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(to right, #03045e, #0353a4);
  height: 35px;
  width: 170px;
  border-radius: 15px;
  top: 50%;
  transform: translate(-5%, -50%);

  i {
    margin-left: 5%;
  }

  p {
    margin-right: 5%;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
  list-style: none;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/IMG_6488.png);
  background-size: cover;
  background-position: 25% 55%;
  color: #fff;

  .intro {
    background-color: rgba(3, 83, 164, 0.85);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }

  .text {
    text-align: center;
    position: absolute;

    .presentation {
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hamburger-container {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 1;

    .line {
      width: 30px;
      height: 3px;
      background: #fff;
      margin: 5px;
    }
  }

  .nav-links {
    overflow: hidden;
    position: fixed;
    background: rgb(3, 83, 164);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(30px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;

    .item {
      a {
        font-size: 25px;
      }
    }

    li:nth-child(1) {
      transition: all 0.5s ease 0.1s;
    }

    li:nth-child(2) {
      transition: all 0.5s ease 0.2s;
    }

    li:nth-child(3) {
      transition: all 0.5s ease 0.3s;
    }
  }

  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
    background: #1d3557;
  }

  li.fade {
    opacity: 1;
  }

  .landing {
    position: relative;
    background-position: 25% 55%;

    .text {
      .presentation {
        font-size: 25px;
      }
    }
  }
}
