<nav>
  <div class="logo">
    <i class="fas fa-terminal"></i><p>diegoher.dev</p>
  </div>
  <div class="hamburger-container">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul class="nav-links">
    <li class="item"><a href="#">About</a></li>
    <li class="item"><a href="#">Portfolio</a></li>
    <li class="item"><a href="#">Contact</a></li>
  </ul>
</nav>
<section class="landing">
  <div class="intro"></div>
  <div class="text">
    <h1 id="title" class="presentation"></h1>
    <h3 id="subtitle" class="presentation"></h3>
  </div>
</section>